<html>
<head>
  <title>Portfolio Page</title>
</head>
<body>
  <h1>This is the portfolio page</h1>
  {% include 'navbar.html' %}

<!--  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      {% for company in companies %}
        <tr>
          <td>{{ company.id }}</td>
          <td>{{ company.name }}</td>
          <td>{{ company.age }}</td>
          <td>{{ company.address }}</td>
          <td>{{ company.salary }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
-->
</body>
</html>
