.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container fills at least the whole viewport height */
  background-color: #07002A; 
  color: #FFFFFF;
  position: relative; /* For positioning the upper frame absolutely relative to this container */
}
  
.tableWrapper {
  flex: 1;
  overflow: auto;
  margin-top: 60px;
}
  
  .customFormulasWrapper {
    min-width: 300px;
    padding: 10px;
  }
  
  .resizableContainer {
    resize: both;
    overflow: auto;
    position: relative;
}

.resizeHandle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: #ccc;
    cursor: se-resize;
}

.scaledTable {
  transform-origin: top left; 
  transition: transform 0.3s ease; 
}

.resizer {
  display: inline-block;
  background: gray;
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action:none;
}

.isResizing {
  background: red;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07002A; 
  color: white;
  padding: 10px 20px;
}

.navItems {
  display: flex;
  align-items: center; /* This ensures that items in the navItems are vertically centered */
  justify-content: center; /* Add this to align your buttons in the middle */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}



.navButton {
  background: transparent;
  border: none;
  color: white;
  margin-left: 20px; /* Adjust the margin as needed */
  cursor: pointer;
  font-size: 16px; /* Adjust this value to change the font size of buttons */
}

.upperFrame {
  display: flex;
  justify-content: start;
  padding: 10px;
  background-color: #333; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
}

.upperFrameButton {
  background: transparent;
  border: none;
  color: #FFFFFF;
  margin-right: 20px;
  cursor: pointer;
}