@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.container {
  display: flex;
  font-family: 'Inter', sans-serif;;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container fills at least the whole viewport height */
  background-color: #07002A;
  /*#07002A; */
  color: #FFFFFF;
  position: relative; /* For positioning the upper frame absolutely relative to this container */
}
  
.tableWrapper {
  flex: 1;
  overflow: auto;
  margin-top: 60px;
}
  
  .customFormulasWrapper {
    min-width: 300px;
    padding: 10px;
  }
  
  .resizableContainer {
    resize: both;
    overflow: auto;
    position: relative;
}

.resizeHandle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: #ccc;
    cursor: se-resize;
}

.scaledTable {
  transform-origin: top left; 
  transition: transform 0.3s ease; 
}

.resizer {
  display: inline-block;
  background: gray;
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action:none;
}

.isResizing {
  background: red;
}
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07002A;
  color: white;
  padding: 10px 0;
}

.navItems {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navButton {
  background: transparent;
  border: none;
  color: white;
  margin-left: 30px;
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
}



.navButton {
  background: transparent;
  border: none;
  color: white;
  margin-left: 20px; /* Adjust the margin as needed */
  cursor: pointer;
  font-size: 24px; /* Adjust this value to change the font size of buttons */
}



.upperFrame {
  position: absolute;
  top: 60px; /* Adjust this value as needed to position it just under the navigation bar */
  left: 0;
  width: 100%; /* Make it full width */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.upperFrameButton {
  background: transparent;
  border: none;
  color: #FFFFFF;
  margin-right: 20px;
  cursor: pointer;
}